@import "tailwindcss";

/* 支援以 class="dark" 觸發 dark: 前綴樣式 */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #1d2021;
  --color-surface: #282828;
  --color-surface-dim: #1d2021;
  --color-surface-bright: #3c3836;
  --color-surface-container-lowest: #141617;
  --color-surface-container-low: #282828;
  --color-surface-container: #32302f;
  --color-surface-container-high: #3c3836;
  --color-surface-container-highest: #504945;
  --color-outline: #a89984;
  --color-outline-variant: #665c54;
  --color-on-surface: #ebdbb2;
  --color-on-surface-variant: #d5c4a1;
  --color-on-background: #ebdbb2;
  --color-primary: #fe8019;
  --color-primary-container: #d65d0e;
  --color-on-primary: #1d2021;
  --color-on-primary-container: #ebdbb2;
  --color-secondary: #fabd2f;
  --color-secondary-container: #d79921;
  --color-on-secondary: #282828;
  --color-tertiary: #b8bb26;
  --color-tertiary-container: #98971a;
  --color-on-tertiary: #1d2021;
  --color-aqua: #8ec07c;
  --color-blue: #83a598;
  --color-purple: #d3869b;
  --color-error: #fb4934;

  --font-serif: "Source Serif 4", Georgia, serif;
  --font-mono: "JetBrains Mono", Consolas, monospace;
  --font-sans: "Geist", "Inter", sans-serif;
}
